<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.prodap.taurusmobile.ui" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_taurus"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="jim.h.common.android.zxinglib.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".ConfiguracoesActivity"
            android:label="@string/title_activity_configuracoes" />

        <activity
            android:name=".MenuPrincipalActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ListaAnimaisActivity"
            android:label="@string/title_activity_lista_animais"
            />

        <activity
            android:name=".PartoActivity"
            android:label="@string/title_activity_parto" />

        <activity
            android:name=".ListaPartosCriaActivity"
            android:label="@string/title_activity_lista_animais" />

        <activity
            android:name=".LeitorActivity"
            android:label="@string/app_name">
        </activity>

        <!--<activity
            android:name=".EnviarActivity"
            android:label="@string/title_activity_enviar" />

        <activity
            android:name=".BucarAnimaisBluetoothActivity"
            android:label="@string/title_activity_busca_animais" /> -->

    </application>

</manifest>
